# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs / Temp files
*.log
*.tmp

# OS Files
.DS_Store
Thumbs.db
